.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.main-title {
  font-family: "Shojumaru", cursive;
  font-size: 40px;
  color: rgb(5, 251, 5);
  line-height: 2rem;
}

.home {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  width: 100%;
}

.home-title {
  font-family: "Shojumaru", cursive;
  align-items: center;
  justify-content: center;
}

.home-subtitle {
  text-align: center;
}

.home-goodluck-text {
  color: white;
}
/*************************************              END OF HOME           ************************************************/
.user-interface {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.user-interface-hint {
  color: red;
  text-align: center;
}
/*************************************              END OF InterFace           ************************************************/

.statsBar {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin: 20px auto;
}

/*************************************              END OF StatsBar           ************************************************/
.user-interface-start-game {
  display: flex;
  width: 100%;
  margin: 30px;
  justify-content: center;
  align-content: center;
}
.btn-startGame {
  height: 40px;
  width: 100px;
  size: 80px;
  cursor: pointer;
  border-radius: 15px;
}

/*************************************              END OF Start           ************************************************/
.user-interface-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.user-input-label {
  margin: 20px 40px;
  padding-left: 0px 50px;
  font-weight: bold;
}

.user-interface-inputs-btn-text {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.ufi-user-guess {
  margin: 15px;
  height: 35px;
  width: 150px;
  cursor: text;
  border-radius: 15px;
}
.btn-submit-guess {
  height: 40px;
  width: 100px;
  cursor: pointer;
  border-radius: 15px;
}
/*************************************              END OF UserAttempt           ************************************************/
.surrender {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.btn-surrender {
  height: 40px;
  width: 270px;
  margin: 0px 20;
  cursor: pointer;
  border-radius: 15px;
}
/*************************************              END OF Surrender           ************************************************/
.prize {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.prize-code {
  width: 50%;
  justify-content: center;
  text-align: center;
}

/*************************************              END OF Prize           ************************************************/

/******************Buttons and inputs*******************/
.btn-startGame:hover {
  border-style: solid;
  background-color: rgb(5, 251, 5);
}

.ufi-user-guess:hover {
  border-style: solid;
}
.ufi-user-guess:focus {
  font-weight: bold;
}

.btn-submit-guess:hover {
  border-style: solid;
  background-color: rgb(5, 251, 5);
}

.btn-surrender:hover {
  border-style: solid;
  background-color: rgb(252, 104, 104);
}
